/* Home */

#home {
    position: relative;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 7rem;

    a {
        text-decoration: none;
        color: inherit;
    }
}

@media only screen and (max-width: 1250px) {
    #home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 0;
    }
}

@media only screen and (max-width: 600px) {
    #home {
        margin: 0 2em;
    }
}

@media only screen and (min-width: 1450px) {
    #home {
        grid-gap: 10rem;
    }
}
